.header{
    display: flex;
    align-items: center;
    position: fixed;
    left: 240px;
    top: 0;
    right: 0;
    height: 70px;
    padding: 0 59px;
    z-index: 99;
    min-width: 660px;
    transition: right .4s;
    box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
    z-index: 100000;
    backdrop-filter: blur(50px);
    background-color: rgba(23,15,35,0.8);
    
}

.menu-item{
    display: flex;
    align-items: center;
    float: right;
}

.btn-item{
    position: relative;
    background-color: transparent;
    color: #161823;
    cursor: pointer;
}