.menu-media{
    display: grid;
    grid-template-columns: 346px 346px 346px;
    grid-template-rows: 140px 140px 140px 140px;
    width: 1038px;
    height: auto;
    overflow: hidden;
    margin: 0 -15px;

}
.boc{
    width: 318px;
    height: 80px;
    padding: 0px 14px;
}