
:root {
    --side-bg: rgb(35 27 46);
    --layout-bg: #170f23;
    --black: #000;
    --white: #fff;
    --width-sidebar: 240px;
    --focus-bg:  hsla(0,0%,100%,0.1);
    --text-navi: #dadada;
    --alpha-bg: hsl(0deg 0% 100% / 10%);
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px; 
}

body {
    margin: 0;
   padding: 0;
   line-height: 1.5;
   font-family: Inter,sans-serif;
   font-size: 14px;
   color: var(--text-primary);
   font-weight: 400;
   -ms-scroll-chaining: none;
   overscroll-behavior: none;
   overflow: hidden;
}

body .tippy-box{
    font-size: 12px;
    font-family: Inter,sans-serif;
    margin-left: 10px;
}

//DefaultLayoy
