.wrapper{
    position: relative;
    width: var(--width-sidebar);
    height: (100vw-47) ;
    padding-top: 70px;
    padding-bottom: 54px;
    background-color: var(--side-bg); ;
    float: left;
    overflow: auto;
}
.logo{
    width: 187px;
    height: 70px;
    position: fixed;
    top: 0;
    padding: 0 25px 0 28px;
    display: flex;
    align-items: center;
}

.menu-navbar-item{
    position: relative;
    display: block;
    width: var(--width-sidebar) ;
    background-color: aliceblue;
    margin-bottom: 15px;
    color: var(--white);
    background-color: var(--side-bg);
}

.sidebar-divide{
    position: relative;
    height: 1px;
    background-color: #393243;
    margin-left: 25px;
    margin-right: 25px;
}

.vip-banner{
    padding: 15px 8px;
    border-radius: 8px;
    margin: 10px 20px;
    text-align: center;
    background-image: linear-gradient(117deg,#5a4be7,#c86dd7 102%);
}

.text{
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 600;
    border-color: #ffdb00;
    line-height: 1.67;
    color: var(--white);
}
.btn-vip{
    background-color: #ffdb00;
    border-color: #ffdb00;
    color: #32323d;
    display: inline-block;
    padding: 6px 35px;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid hsl(0deg 0% 100% / 10%);
    border-radius: 999px;
    cursor: pointer;
}
.btn-add{
    position: fixed;
    width: 240px;
    left: 0;
    height: 47px;
    border-top: 1px solid #393243 !important;
    border: 0px ;
    padding: 0 28px;
    border-radius: 0;
    display: flex;
    font-size: 14px;
    align-items: center;
    color: var(--white);
    font-weight: 700;
    bottom: 0;
    background-color: var(--side-bg);
    cursor: pointer;
}

.add-icon{
    margin-right: 10px;
}
