.wrapper{
    position: relative;
    width: var(--width-sidebar);
    height: 100%;
    padding-top: 70px;
    padding-bottom: 54px;
    background-color: var(--side-bg); ;

}
.logo{
    width: 187px;
    height: 70px;
    position: fixed;
    top: 0;
    padding: 0 25px 0 28px;
    display: flex;
    align-items: center;
}

.menu-navbar-item{
    position: relative;
    display: block;
    width: var(--width-sidebar) ;
    height: 200px;
    background-color: aliceblue;
    margin-bottom: 15px;
    color: var(--white);
    background-color: var(--side-bg);
}
