.wrapper{
    position: relative;
    width: 240px;
    height: 100%;
    padding-top: 70px;
    padding-bottom: 54px;
    background-color: var(--side-bg); ;

}
.logo{
    width: 187px;
    height: 70px;
    position: fixed;
    top: 0;
    padding: 0 25px 0 28px;
    display: flex;
    align-items: center;
}
