.player{
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 90px;
    z-index: 100;
}
.play{
    height: 90px;
    min-width: 768px;
    padding: 0 20px;
    background-color: #130c1c;
    border-top: 1px solid hsl(0deg 0% 100% / 10%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lplay{
    position: relative;
    width: 30%;
    height: 64px;
    display: flex;
}
.img{
    width: 64px ;
    height: 100%;
    border-radius: 4px;
    margin-right: 10px;
}
.content{
    margin-top: 14px;
    height: 35px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}
.name{
    color: #fff;  
}
.casi{
    color: hsl(0deg 0% 100% / 50%);
   font-size: 12px;
    &:hover{
        text-decoration: underline;
    }
}

.icon{
    height: 18px;
    display: flex;
    margin-top: 20px;
    margin-left: 26px;
}
.iconl{
    cursor: pointer;
    margin: 0 2px;
    margin-left: 8px;
    padding: 3px;
    height: 18px;
    width: 16px;
}
.ceplay{
    width: 530px;
    height: 73px;
}
.rplay{
    display: flex;
    width: 398px;
}
