.navbar-item {
    font-weight: 700;
    border-left: 3px solid transparent;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 8px 25px;
    height: 24px;
    font-size: 13px;
    cursor: pointer;
    color: var(--text-navi);
    &:hover{
        color: var(--white);
    }
}

.icon{
    margin-right: 10px;
    line-height: 60%;
}
