.wrappermobi{
    line-height: 1.5;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #fcfcfc;
    min-height: 100vh;
    overflow: hidden;
}

.containermobi{
    position: relative;
    height: 60px;
    top: 0;
    width: 100%;
    z-index: 99;
    align-items: center;
}
.containermobi ::-webkit-scrollbar {
    width: 6px;
    height: 0;
}

.containermobi ::-webkit-scrollbar-thumb {
    background: #dbdbdb;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

}