.clip-path {
    height: 500px;
    overflow: hidden;
    transition: all 0.25s;
  }
  
  .clip-path-active {
    height: 100%;
  
  }

.youtube{
    z-index: 1000;
}
.search{
    position: relative;
    border-radius: 20px;
    width: 50%;
    height: 40px;
    background-color: var(--alpha-bg);
    margin-right: 128px;
    margin-left: 25%;
    margin-top: 10px;
}

.input{
    position: absolute;
    top: 0;
    left: 38px;
    right: 10px;
    bottom: 0;
    border: 1.5px solid transparent;
    input {
        flex: 1;
        color: var(--white);
        font-size: 14px;
        caret-color: var(--white);
        background-color: transparent;
    }
    input:focus {
        outline: none;
     }

}

.input-text{
    margin: 0;
    display: inline-block;
    width: 95%;
    border: 0;
    position: relative;
    font-size: 18px;
    height: 34px;
    line-height: 34px;
    background-color: transparent;

}
.search-btn{
    background-color: transparent;
    color: var( --text-navi);
    width: 34px;
    height: 34px;
    font-size: 18px;
    border-color: transparent;
    padding-top: 4px;
    cursor: pointer;
}
::placeholder {
    color: var(--text-navi);
}
.listmv{
    padding: 20px 0px;
}
.itemv{
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #363041;
}
.left{
    width: 45%;
    margin-right: 30px;
}
.right{
    width: 55%;
    margin-left: 15px;
}

.if{
    position: relative;
    width: 100%;
    height: 200px;
}
.title{
    padding: 10px;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
.sub{
    padding: 10px;
    color: rgb(241, 241, 241);
    font-size: 14px;
}
.tacgia{
    padding: 10px;
    display: flex;
    align-items: center;
}
.imgta{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.name{
    padding-bottom: 5px;
    color: rgb(241, 241, 241);
    font-size: 14px;
}
.mota{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    color: #fff;
}
.add{
    padding: 20px;
    height: 40px;
    text-align: center;
}
.btnadd{
    height: 100%;
    width: 120px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}