.header{
    width: 100%;
    background-color: #fcfcfc;
    position: fixed;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    top: 0px;
    z-index: 8000;
}
.btnheader{
    border-color: transparent !important;
    width: 30px;
    height: 50px;
    background-color: transparent;
}

.icon{
    width: 30px;
    height: 30px;
}


.imglogo{
    position: absolute;
    top: 10px;
    left: 38%;
    width: 100px;
    height: 32px;
}

.user{
    position: absolute;
    right: 0px;
    display: flex;
    top: 12px;
    margin-bottom: 7px;
}
.imgsearch{
    width: 26px;
    height: 24px;
    margin-right: 10px;
    align-items: center;
    margin-top: 4px;
}
.btnavarta{
    border: 0px transparent;
    padding: 0;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 9px;
    background-color: #fcfcfc;
}
.imgavarta{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 0px;
}
.show{
    display: block;
}

.navi{
    position: fixed;
    z-index: 9000;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(42,43,63,.74);
    transition:   0.75s all;
    &.active{
       display: block;
       transition:   0.75s all;
    }
}

.showuser{
    top: 0;
    position: fixed;
    width: calc(100vw - 50px);
    height: 100%;
    z-index: 10000;
    left: -100%;
    transition:   0.5s all;
    &.active{
        left: 0px;
        transition:   0.5s all;
     }

}


.navi-con{
    position: absolute;
    width: 100%;
    background-color: #fff;
    height: 100%;
}


.usernavi{
    position: relative;
    height: 124.13px;
    background-color: #f7f7f7;
    padding: 16px 20px;
    display: flex;
    z-index: 10000;
}
.card-info{
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    width: 180px;
    height: 104.13;
}

.title{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.36;
    color: #32323d;
}

.user-action{
    height: 71.63px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 11px;
}
.vip{
    display: inline-block;
    overflow: hidden;
    border-radius: 4px;
    background-color: #f8e71c;
    text-align: center;
    padding: 7px 20px;
    font-weight: 500;
    font-size: 12px!important;
    margin: 5px 10px 0px 0px;
    width: 80px;
    height: 16.313px;
    color: #32323d;
}
.code{
    background-color: transparent;
    box-shadow: 0 0 0 1px black;
    margin-left: 1px;
    overflow: hidden;
    border-radius: 4px;
    padding: 7px 20px;
    font-weight: 500;
    font-size: 12px!important;
    margin: 5px 10px 0px 1px;
    width: 80px;
    height: 16.313px;
    color: #32323d;
}

.btn-close{
    background-color:#f7f7f7;
    border: 0px transparent;
    position: absolute;
    top: 9px;
    right: 8px;
    z-index: 10000;
}
.menu-content{
    position: fixed;
    padding: 18px;
    width: calc(100vw - 86px);
    overflow: auto;
    height: 556px;
}
.menu-list{
    position: relative;
    overflow: auto;
}
