.header{
    background-color: #fcfcfc;
    position: relative;
    height: 50px;
    display: flex;
}

.btnheader{
    border-color: transparent !important;
    width: 30px;
    height: 50px;
    background-color: transparent;
}

.icon{
    width: 30px;
    height: 30px;
}


.imglogo{
    position: absolute;
    top: 10px;
    left: 130px;
    width: 100px;
    height: 32px;
}

.user{
    position: absolute;
    right: 0;
    display: flex;
    top: 12px;
    margin-bottom: 7px;
}
.imgsearch{
    width: 26px;
    height: 24px;
    margin-right: 10px;
    align-items: center;
    margin-top: 4px;
}
.btnavarta{
    border: 0px transparent;
    padding: 0;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 9px;
    background-color: #fcfcfc;
}
.imgavarta{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 0px;
}
.show{
    display: block;
}

.navi{
    position: fixed;
    z-index: 1000;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(42,43,63,.74);
    transition:   0.75s all;
    &.active{
       display: block;
       transition:   0.75s all;
    }
}

.showuser{
    top: 0;
    position: fixed;
    width: calc(100vw - 50px);
    height: 100%;
    z-index: 2000;
    left: -320px;
    transition:   0.45s all;
    &.active{
        left: 0px;
        transition:   0.45s all;
     }

}


.navi-con{
    position: absolute;
    width: calc(100vw - 50px);
    background-color: #fff;
    height: 100%;
    transition: transform 0.5s; 
}


.usernavi{
    position: relative;
    width: 270px;
    height: 124.13px;
    background-color: #f7f7f7;
    padding: 16px 20px;
    display: flex;
}
.btn-close{
    background-color:#f7f7f7;
    border: 0px transparent;
    position: absolute;
    top: 15px;
    right: 15px;
}