.playsong{
    overflow: hidden;
    height: calc(100% - 50px);
    margin-top: 50px;
}
.song{
    position: relative;
    background-color: #000;
    overflow: hidden;
}
.thongbao{
    color: rgb(27, 27, 27);
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    height: 34px;
    padding: 100px 25px;
}
.nenanh{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(15px);
    background: center center/cover no-repeat;
}
.info{
    padding: 20px 16px;
    width: auto;
    height: 100px;
    position: relative;
    background-color: rgba(0,0,0,.65);
}
.img{
    float: left;
    position: relative;
    width : 100px;
    height: 100px;
    border-radius: 4px;
}
.imgxoay{
    float: left;
    position: relative;
    width : 100px;
    height: 100px;
    border-radius: 50%;
    animation: app-logo-spin infinite 5s linear
}


@keyframes app-logo-spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}
.infosong{
    position: relative;
    margin-left: 115px;
    color: #fcfcfc;
}
.namesong{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.casisong{
    color: rgb(160, 160, 160);
}
.time{
    font-size: 15px;
    margin-top: 5px;
}
.contair{
    padding: 0px 5px;
}
.player{
    margin: 10px 15px;
    margin-top: 15px !important;
    border-radius: 50px;
    background-color: #fff;
    border: solid 2px #32323d;
    padding-bottom: 5px;
&.button.rhap_button-clear{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 25px;
    margin: 0 20px;
    width: 50px;
    height: 50px;
    /* animation: spin 4s infinite; */
  }
}
.playercon{
    padding: 5px 30px;
} 
.btnback{
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 35px;
    position: relative;
    left: 30%;
    width: 40%;
    height: 50px;
    background-color: #65509e;
    color: #dbdbdb;
    border: solid 1px #32323d;
    font-size: 17px;
    font-weight: 700;
}
