
.avarta{
    width: 43px;
    height: 43px;
    margin-left: 3px;
    border-color: transparent;
    cursor: pointer;
    background-color: transparent;
}

.img-avarta{
    position: relative;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    padding-bottom: 3px;
}