

.wrapper{
   display: flex;
   flex-direction: column;
   font-family: Inter,sans-serif;
   font-size: 14px;
   font-weight: 400;
   -ms-scroll-chaining: none;
   overscroll-behavior: none;
   overflow: hidden;
   background-color: rgb(35 27 46);
}

.container{
    display: flex;
    position: fixed;
    min-height: 100%;
    left: 240px;
    top: 0;
    right: 0;
    height: 80px;
    padding: 0 59px;
    z-index: 99;
    transition: right 0.4s;
    background-color: var(--layout-bg);
    font-family: Inter,sans-serif;
    
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.container::-webkit-scrollbar { 
  width: 0 !important;
  display: none; 
}
.content {
    position: relative;
    flex: 1;
    margin-top: 73px;
}

.playlist{
    width: 1008px;
    height: 302px;
    margin-top: 48px;
}
.thumb{ 
    position: absolute;
    width: 4px;
    transition: opacity 200ms ease 0s;
    opacity: 0;
    right: 2px;
    top: 2px;
    bottom: 2px;
    z-index: 100;
}
.thumb-ver{
    position: relative;
    display: block;
    width: 100%;
    height: 31px;
    transform: translateY(44.9507px);
    background-color: hsl(0deg 0% 100% / 30%);
    border-radius: 2px;
}

.card{
    position: relative;
}