

.wrapper{
   display: flex;
   flex-direction: column;
   font-family: Inter,sans-serif;
   font-size: 14px;
   font-weight: 400;
   -ms-scroll-chaining: none;
   overscroll-behavior: none;
   background-color: var(--layout-bg);
}

.container{
    background-color: var(--layout-bg);
    display: flex;
    font-family: Inter,sans-serif;
    height: 80px;
    left: 240px;
    min-height: 100%;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    padding: 0 59px;
    position: fixed;
    right: 0;
    top: 0;
    transition: right .4s;
    z-index: 99;
}

.container::-webkit-scrollbar { 
  width: 0 !important;
  display: none; 
}
.content {
    position: relative;
    flex: 1;
    margin-top: 73px;
}
.slider{
    position: relative;
    max-width: 1008px;
    padding-top: 32px;
    margin: 0 -15px 20px ;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: #fff;
    margin-top: 48px;
    margin-bottom: 20px;
    font-weight: 700;
}  

.playlist{
    width: 1008px;
    height: 302px;
    margin-top: 48px;
}

.slidercasi{
    margin-top: 48px;
    margin-bottom: 48px;
    position: relative;
    width: 100%;
}
.listnhacmoi{
    padding: 3px 0 5px;
    margin: 0 -15px;
    width: 1038px;
    position: relative;
}
.listsukien{
    display: flex;
    margin: 0 -15px;
    overflow: hidden;
    width: 1038px;
    position: relative;
}
