.itemsukien{
    display: flex;
    width: 318px;
    height: 232.86px;
    padding: 0 14px;
}

.eventanh{
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    height: 178.86px;
    margin-bottom: 8px;
}
.bocimg{
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    height: auto;
    height: 178.86px;
    transition-duration: 0.7s;
    &:hover{
        transform: scale(1.09);
		-webkit-transform: scale(1.09);
		-moz-transform: scale(1.09); 
		-o-transform: scale(1.09);
		-ms-transform: scale(1.09);
	cursor: pointer; 
    }
}
.imgsukien{
    width: 318px;
    z-index: 100;
    cursor: pointer;
    padding-bottom: 56.25%;
}
.opaci{
    position: absolute;
    inset: 0;
    background-image: linear-gradient(180deg,transparent 27%,rgba(0,0,0,.78));
}
.contentsukien{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 13px 10px;
    line-height: 1.5;
    cursor: pointer;
}
.tagsukien{
    font-size: 9px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #ff0101;
    background-color: #fff;
    text-transform: uppercase;
}
.titlesukien{
    color: var(--white);
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 700;
    margin: 5px 0;
    text-transform: none;
    position: relative;
}
.subsukien{
    color: var(--white);
    white-space: nowrap;
    text-overflow: ellipsis;
}
.event{
    width: 318px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 46px;
}
.eventile{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    text-transform: none;
    color: #fff;
}
.avarta{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.avartaitem{
    width: 15px;
    line-height: 0;
}
.imgitem{
    border-radius: 999px;
    overflow: hidden;
    height: 16px;
    width: 16px;
    border: 2px solid var(--primary-bg);
}
.textitem{
    font-size: 14px;
    margin-left: 6px;
    color: hsla(0,0%,100%,0.5);
    right: 0;
}
.btnsukien{
    background-color:  #9b4de0;
    border: 1px solid hsla(0,0%,100%,0.1);;
    border-color:  #9b4de0;
    color: #fff;
    padding: 9px 20px;
    border-radius: 999px;
    line-height: normal;
    cursor: pointer;
    &:hover{
        background-color: hsl(272deg 56% 53%);
    }
}